* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulb {
    position: relative;
    width: 80px;
    height: 80px;
    background: #666;
    border-radius: 50%;
    transform: rotate(180deg);
    margin: -50px auto 0;
}

body.on .bulb {
    background: #fff;
    box-shadow: 0 0 30px #fff,
    0 0 60px #fff,
    0 0 90px #fff,
    0 0 120px #fff;
}

.bulb::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 22.5px;
    width: 35px;
    height: 80px;
    background: #666;
    border-top: 30px solid #000;
    border-radius: 10px;
}

body.on .bulb::before {
    background: #fff;
}

body.on .bulb::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    filter: blur(40px);
}

.bulb span:nth-child(1),
.bulb span:nth-child(2) {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
}

.bulb span:nth-child(1) {
    top: -16px;
    left: -4px;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #666;
}

.bulb span:nth-child(2) {
    top: -16px;
    right: -4px;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #666;
}

body.on .bulb span:nth-child(1) {
    box-shadow: 20px 20px 0 10px #fff;
}

body.on .bulb span:nth-child(2) {
    box-shadow: -20px 20px 0 10px #fff;
}

.btn {
    display: block;
    position: relative;
    bottom: -200px;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    border-radius: 75px;
    padding: 10px 20px;
    cursor: pointer;
}